<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="{{ .Title }} | {{ .Site.Title }}" />
    <meta name="twitter:site" content="{{ .Site.Params.TwitterAuthor }}" />
    <meta name="twitter:creator" content="{{ .Site.Params.TwitterCreator }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <link href="{{ .Site.BaseURL }}index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}"/>
    {{ if .IsHome }}
        <meta name="description" content="{{ .Site.Params.Description }}" />
        <meta property="og:description" content="{{ .Site.Params.Description }}" />
        <meta name="twitter:description" content="{{ .Site.Params.Description }}" />
        <meta name="twitter:title" content="{{ .Site.Params.Title }}" />
        <meta property="og:title" content="{{ .Site.Params.Title }}" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:image" content="{{ .Site.BaseURL }}/images/logo.png" />
        <meta property="og:image" content="{{ .Site.BaseURL }}/images/logo.png" />
    {{ end }}
    {{ if eq .Section "blog"}}
        <meta name="description" content="{{ .Description }}" />
        <meta name="twitter:description" content="{{ .Description }}" />
        <meta name="twitter:title" content="{{ .Title }}" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:image" content="{{ .Site.BaseURL }}{{ .Params.ShareImage }}" />
        <meta property="og:title" content="{{ .Title }}" />
        <meta property="article:published_time" content="{{ .Date.Format "2006-01-02" }}" />
        <meta property="og:description" content="{{ .Description }}" />
        <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.ShareImage }}" />
    {{- end }}

    <title>
        {{ if .IsHome }}
            {{ .Site.Title }}
        {{ else }}
            {{ .Title }} &middot; {{ .Site.Title }}
        {{ end }}
    </title>

    <!-- CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    {{- $inServerMode	:= .Site.IsServer }}
    <!-- {{- $cssTarget		:= "css/style.css" }} -->
    {{- $cssOptions		:= cond ($inServerMode) (dict "targetPath" $cssTarget "enableSourceMap" true) (dict "targetPath" $cssTarget "outputStyle" "compressed") }}
    {{- $style			:= resources.Get "scss/dadafterforty.scss" | resources.ExecuteAsTemplate "style.dadafterforty.scss" . | toCSS $cssOptions }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#ffffff">

    <!-- RSS -->
    <link href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
</head>
